*{
    margin:0;
    padding: 0;
    background:linear-gradient(90deg, #161122 21px, transparent 1%)center,linear-gradient(#161122 21px, transparent 1%)
    center, rgba(125,124,128,1);
    background-size: 22px 22px;
    box-sizing: border-box;
}
h1{
animation: type 3s steps(30);
overflow: hidden;
white-space: nowrap;
font-family:'Times New Roman', Times, serif;
color: rgb(135, 153, 117);
border-right: 4px solid rgb(135, 153, 117);
width:30ch;
}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width:30ch;
    }
}




